<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- Google Material Icons -->
        <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">

        <!-- Load style from main.css -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

        <!-- Favicon -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        {% if title %}
            <title>{{ _('ui.common.app_title') }} - {{ title }}</title>
        {% else %}
            <title>{{ _('ui.common.app_title') }}</title>
        {% endif %}
    </head>

    <body>
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
                <div class="container">
                    <a class="navbar-brand mr-4" href="{{ url_for('main.home') }}">{{ _('ui.common.app_title') }}</a>
                    
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarToggle">
                        <div class="navbar-nav mr-auto">
                            <a class="nav-item nav-link" href="{{ url_for('main.home') }}" id="nav-home"><span class="material-icons">home</span> {{ _('ui.common.home') }}</a>

                            {% if current_user.is_authenticated %}
                                <a class="nav-item nav-link" href="{{ url_for('item.overview') }}" id="nav-material"><span class="material-icons">inventory</span> {{ _('ui.item.overview') }}</a>

                                <a class="nav-item nav-link" href="{{ url_for('item.categories') }}" id="nav-categories"><span class="material-icons">sell</span> {{ _('ui.item.categories') }}</a>

                                <a class="nav-item nav-link" href="{{ url_for('item.locations') }}" id="nav-locations"><span class="material-icons">place</span> {{ _('ui.item.locations') }}</a>
                            {% endif %}
                            
                            <a class="nav-item nav-link" href="{{ url_for('main.about') }}" id="nav-about"><span class="material-icons">info</span> {{ _('ui.common.about') }}</a>
                        </div>

                        <!-- Navbar Right Side -->
                        <div class="navbar-nav">
                            {% if current_user.is_authenticated %}
                                <a class="nav-item nav-link" href="{{ url_for('user.account') }}" id="nav-account"><span class="material-icons">account_circle</span> {{ _('ui.common.account') }}</a>
                                <a class="nav-item nav-link" href="{{ url_for('user.logout') }}" id="nav-logout"><span class="material-icons">logout</span> {{ _('ui.common.logout') }}</a>
                            {% else %}
                                <a class="nav-item nav-link" href="{{ url_for('user.login') }}" id="nav-login"><span class="material-icons">login</span> {{ _('ui.common.login') }}</a>
                                <a class="nav-item nav-link" href="{{ url_for('user.register') }}" id="nav-register"><span class="material-icons">person_add</span> {{ _('ui.common.sign_up') }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <main role="main" class="container">
            <div class="row">
                <div {% if sidebar %}class="col-md-8"{% else %}class="col-md-12"{% endif %}>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                    {% block content %}{% endblock %}
                </div>

                <!-- Side Bar (needs translation) -->
                {% if sidebar %}
                    <div class="col-md-4">
                        <div class="content-section">
                            <h3>{{ sidebar }}</h3>
                            <ul class="list-group mt-3">
                                {% block sidebar %}{% endblock %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        </main>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        {% block scripts %}{% endblock %}
    </body>
</html>