<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- Google Material Icons -->
        <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">

        <!-- Load style from CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sidemenu.css') }}">

        <!-- Favicon -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        {% if title %}
            <title>{{ _('ui.common.app_title') }} - {{ title }}</title>
        {% else %}
            <title>{{ _('ui.common.app_title') }}</title>
        {% endif %}
    </head>

    <body>
        <header class="site-header">
            {% include '_navbar.html' %}
        </header>

        {% include '_sidemenu.html' %}

        <a href="javascript:void(0)" class="sidenav-openbtn" onclick="openNav()">
            <span class="material-icons">arrow_forward_ios</span>
        </a>

        <div id="main" class="main" role="main">
            <div class="row">
                <!-- Main Body -->
                <div {% if sidebar %}class="col-md-9"{% else %}class="col-md-12"{% endif %}>
                    <!-- Flash Messages -->
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }} alert-dismissible alert-auto-fade fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                    <!-- Content -->
                    {% block content %}{% endblock %}
                </div>

                <!-- Side Bar -->
                {% if sidebar %}
                    <div class="col-md-3 sidebar">
                        <div class="content-section sticky-top sticky-offset">
                            <h3>{{ sidebar }}</h3>
                            <ul class="list-group mt-3">
                                {% block sidebar %}{% endblock %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        {% if not cookies_check() %}
            <div id="cookie-banner" class="cookie-banner">
                <p>{{ _('ui.cookie_banner') }}</p>
                <button id="cookie-consent" class="close">&times;</button>
            </div>
            <script>
                var fn = function () {
                    document.cookie = 'cookie_consent=true';
                    document.getElementById('cookie-banner').hidden = true;
                };
                document.getElementById('cookie-consent').onclick = fn;
            </script>
        {% endif %}

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!-- Tiny Texteditor -->
        <script src="https://cdn.tiny.cloud/1/0q9xftxd8fj9umgxfyitmfl9sbmluzbto8tv6asj5oklayf5/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
        <script>
            tinymce.init({
                selector: 'textarea.editor',
                skin: 'bootstrap',
                height: 480,
                plugins: 'advlist, autolink, charmap, emoticons, help, image, lists, link, media, quickbars, table, wordcount',
                menubar: false,
                toolbar: 'undo redo | formatselect bold italic underline | forecolor backcolor | removeformat | bullist numlist | outdent indent | alignleft aligncenter alignright | table | emoticons charmap | link image media | help',
                quickbars_selection_toolbar: 'bold italic underline | forecolor backcolor | removeformat'
            });
        </script>

        <!-- Initialize Popover -->
        <script type="text/javascript">
            $(function() {
                $('[data-toggle="popover"]').popover();
            });
        </script>

        <!-- Fade out Alerts after 10 seconds-->
        <script type="text/javascript">
            window.setTimeout(function() {
                $(".alert-auto-fade").alert('close');
            }, 10000);
        </script>

        {% block scripts %}{% endblock %}
    </body>

    {% block modals %}{% endblock %}
</html>