*__pycache__*

.vscode*
PfaKSys/backups*
PfaKSys/logs*
PfaKSys/static/item_images/*
PfaKSys/static/profile_pics/*

*.code-workspace
*.ics

.calendar_test.py
.commands.txt
.count_lines.py
custom_config.json
db.sqlite

!PfaKSys/static/profile_pics/default.jpg
!PfaKSys/static/item_images/default.png