*__pycache__*

.vscode*
PfaKSys/logs*
PfaKSys/static/item_images/*
PfaKSys/static/profile_pics/*

*.code-workspace

.babel_commands.txt
db.sqlite

!PfaKSys/static/profile_pics/default.jpg
!PfaKSys/static/item_images/default.png