alembic==1.7.5
APScheduler==3.8.1
Flask==2.0.2
Flask_APScheduler==1.12.3
Flask_Babel==2.0.0
Flask_Bcrypt==0.7.1
Flask_Login==0.5.0
Flask_Mail==0.9.1
Flask_SQLAlchemy==2.5.1
Flask_WTF==1.0.0
icalendar==4.0.9
itsdangerous==2.0.1
Pillow==9.0.1
python_dateutil==2.8.2
SQLAlchemy==1.4.29
WTForms==3.0.1
