code {
    color: #333333;
}

body {
    color: #333333;
    background: #fafafa;
    margin-top: 5rem;
    margin-bottom: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    background: rgb(218, 218, 218);
    width: 100%;
    margin-top: auto;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

.account-heading {
    font-size: 2.5rem;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-img-navbar {
    height: 22px;
    width: 22px;
    vertical-align: text-top;
    display: inline;
}

.account-img-sm {
    height: 40px;
    width: 40px;
    vertical-align: text-top;
    display: inline;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    max-height: 65px;
    max-width: 65px;
    margin-right: 16px;
}

.article-img-huge {
    max-height: 580px;
    max-width: 780px;
    margin: auto;
}

.article-img-lg {
    max-height: 200px;
    max-width: 190px;
    margin-left: auto;
    margin-right: auto;
}

.article-img-md {
    max-height: 125px;
    max-width: 125px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.bg-steel {
    background-color: #d1c300;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.dropdown {
    z-index: 2;
}

.dropdown-active {
    background: #428bca;
    color: white;
}

.dropdown-active:hover {
    background: lightgrey;
    color: black;
}

.dropdown-danger {
    color: red;
}

.dropright {
    position: relative;
}

.dropright .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.item-img-carousel .carousel-indicators {
    bottom: -10px;
}

.item-img-carousel .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.material-icons {
    display: inline-flex;
    vertical-align: top;
}

.material-icons-outlined {
    display: inline-flex;
    vertical-align: top;
}

.material-icons-round {
    display: inline-flex;
    vertical-align: top;
}

.material-icons-sharp {
    display: inline-flex;
    vertical-align: top;
}

.material-icons-two-tone {
    display: inline-flex;
    vertical-align: top;
}

.pfaksys-link {
    color: inherit;
}

a.pfaksys-link:hover {
    color: #428bca;
    text-decoration: none;
}

.sidebar {
    z-index: 1;
}

.site-header .navbar-brand {
    color: #242424;
    font-weight: bold;
}

.site-header .navbar-nav .nav-link {
    color: #242424;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.sticky-offset {
    top: 57px
}
