<div class="modal fade" id="change-password-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ _('page.reset_password.title') }}</h5>

                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form action="" method="POST">
                {{ change_password_form.hidden_tag() }}

                <div class="modal-body">
                    <div class="form-group mb-4">
                        {{ change_password_form.current_password.label(class="form-control-label") }}

                        {% if change_password_form.current_password.errors %}
                            {{ change_password_form.current_password(class="form-control form-control-lg is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in change_password_form.current_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ change_password_form.current_password(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    
                    <div class="form-group mb-2">
                        {{ change_password_form.new_password.label(class="form-control-label") }}

                        {% if change_password_form.new_password.errors %}
                            {{ change_password_form.new_password(class="form-control form-control-lg is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in change_password_form.new_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ change_password_form.new_password(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ change_password_form.confirm_new_password.label(class="form-control-label") }}

                        {% if change_password_form.confirm_new_password.errors %}
                            {{ change_password_form.confirm_new_password(class="form-control form-control-lg is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in change_password_form.confirm_new_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ change_password_form.confirm_new_password(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>

                <div class="modal-footer">
                    {{ change_password_form.submit_change_password(class="btn btn-success") }}
                    
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('ui.common.cancel') }}</button>
                </div>
            </form>
        </div>
    </div>
</div>