<div class="modal fade" id="delete-category-modal{{ category.id }}" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ _('modal.category_delete.title', category_name=category.name) }}</h5>

                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            {% if category.items %}
                <div class="modal-body">
                    <p>{{ ngettext('modal.delete_category.warning_singular', 'modal.delete_category.warning_plural', (category.items | length )) }}</p>

                    <a class="btn btn-outline-secondary btn-sm" data-toggle="collapse" href="#items-collapse{{ category.id }}" role="button">
                        {{ ngettext('ui.item.show_item', 'ui.item.show_items', (category.items | length )) }}
                    </a>

                    <div class="collapse" id="items-collapse{{ category.id }}">
                        <div class="card card-body">
                            <ul>
                                {% for item in category.items | sort(attribute='name') %}
                                    <li>
                                        <a href="{{ url_for('item.details', item_id=item.id) }}">{{ item.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="modal-footer">
                <form action="{{ url_for('item.delete_category', category_id=category.id) }}" method='POST'>
                    <input class="btn btn-danger" type="submit" value="{{ _('ui.common.delete') }}">
                </form>

                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('ui.common.cancel') }}</button>
            </div>
        </div>
    </div>
</div>