{% extends '_base.html' %}

{% block content %}
    <div class="content-section">
        <div class="media mb-5">
            <div id="item-image-carousel" class="rounded border border-secondary carousel slide article-img-lg" data-interval=false>
                {% if (item_images | length) > 1 %}
                    <ol class="carousel-indicators">
                            <li data-target="#item-image-carousel" data-slide-to="0" class="active"></li>
                        {% for idx in range(1, (item_images | length)) %}
                            <li data-target="#item-image-carousel" data-slide-to="{{ idx }}"></li>
                        {% endfor %}
                    </ol>
                {% endif %}

                <div class="carousel-inner" data-toggle="modal" data-target="#delete-item-modal">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="{{ url_for('static', filename='item_images/' + item_images[0]) }}" alt="{{ item_images[0] }}">
                    </div>
                    {% for item_image in item_images[1 :] %}
                        <div class="carousel-item">
                            <img class="d-block w-100" src="{{ url_for('static', filename='item_images/' + item_image) }}" alt="{{ item_image }}">
                        </div>
                    {% endfor %}
                </div>

                {% if (item_images | length) > 1 %}
                    <a class="carousel-control-prev" href="#item-image-carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>

                    <a class="carousel-control-next" href="#item-image-carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                {% endif %}
            </div>

            <div class="media-body">
                <div class="border-bottom d-flex justify-content-between" style="padding-bottom: 5px; border-bottom: 1px solid #e3e3e3">
                    <div>
                        <small class="text-muted">{{ _('ui.common.as_of') }}: {{ item.date_checked.strftime("%d. %B %Y, %H:%M") }}</small>
                    </div>

                    <div>
                        <a class="btn btn-secondary btn-sm" href="{{ url_for('item.edit', item_id=item.id) }}">
                            <span class="material-icons">edit</span>
                            {{ _('ui.common.edit') }}
                        </a>
                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delete-item-modal">
                            <span class="material-icons">delete</span>
                            {{ _('ui.common.delete') }}
                        </button>
                    </div>
                </div>

                <h2 class="article-title">{{ item.name }}</h2>
            </div>
        </div>

        <fieldset class="mb-4">
            <legend class="border-bottom mb-3">{{ _('ui.common.generel') }}</legend>

            <div class="d-flex justify-content-around">
                <div>
                    <b>{{ _('ui.common.count') }}:</b>
                    {% if item.has_count %}
                        <span class="border border-info rounded" style="padding-top: 1px; padding-bottom: 2px; padding-left: 3px; padding-right: 3px;">
                            {{ item.count }}
                        </span>
                    {% else %}
                        <span class="material-icons">block</span>
                    {% endif %}

                    <br><br>

                    <b>{{ _('ui.item.category') }}:</b>
                    {% if item.category %}
                        <span class="border border-info rounded" style="padding-top: 1px; padding-bottom: 2px; padding-left: 3px; padding-right: 3px;">
                            <a class="pfaksys-link" href="{{ url_for('user.modify_item_filters', categories=item.category.id) }}">{{ item.category.name }}</a>
                        </span>
                    {% else %}
                        <span class="material-icons">block</span>
                    {% endif %}
                </div>

                <div>
                    <b>{{ _('ui.common.condition') }}:</b> 
                    <span class="rounded" style="padding-top: 1px; padding-bottom: 2px; padding-left: 3px; padding-right: 3px; {{ item.condition.get_condition_color() }}">
                        {{ _(item.condition.value) }}
                    </span>

                    <br><br>

                    <b>{{ _('ui.item.location') }}:</b>
                    {% if item.location %}
                        <span class="border border-info rounded" style="padding-top: 1px; padding-bottom: 2px; padding-left: 3px; padding-right: 3px;">
                            <a class="pfaksys-link" href="{{ url_for('user.modify_item_filters', locations=item.location.id) }}">{{ item.location.name }}</a>
                        </span>
                    {% else %}
                        <span class="material-icons">block</span>
                    {% endif %}
                </div>
            </div>
        </fieldset>

        <fieldset class="mb-4">
            <legend class="border-bottom mb-3">{{ _('ui.common.description') }}</legend>

            {% if item.description %}
                <p style="white-space: pre-line;">{{ item.description }}</p>
            {% endif %}
        </fieldset>

        <fieldset class="mb-4">
            <legend class="border-bottom mb-3">{{ _('ui.common.comment') }}</legend>

            {% if item.comment %}
                <p style="white-space: pre-line;">{{ item.comment }}</p>
            {% endif %}
        </fieldset>
    </div>

    {% include "item/modals/delete_item_modal.html" %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(window).on('load', function(){
            $(".nav").find(".active").removeClass("active");
            $("#nav-material").addClass("active");
        });
    </script>
{% endblock %}