{% extends '_base.html' %}

{% block content %}
    <div class="content-section">
        <div class="media mb-5">
            <div>
                <div id="item-image-carousel" class="carousel slide" data-interval=false>
                    {% if (item_images | length) > 1 %}
                        <ol class="carousel-indicators" >
                                <li data-target="#item-image-carousel" data-slide-to="0" class="active"></li>
                            {% for idx in range(1, (item_images | length)) %}
                                <li data-target="#item-image-carousel" data-slide-to="{{ idx }}"></li>
                            {% endfor %}
                        </ol>
                    {% endif %}

                    <div class="carousel-inner">
                        {% set image = item_images[0] %}
                        <div class="carousel-item active" data-toggle="modal" data-target="#show-item-image-modal{{ image }}">
                            <img class="d-block rounded article-img-lg" src="{{ url_for('static', filename='item_images/' + item_images[0]) }}" alt="{{ item_images[0] }}">
                        </div>
                        {% include 'item/modals/show_item_image_modal.html' %}

                        {% for image in item_images[1 :] %}
                            <div class="carousel-item" data-toggle="modal" data-target="#show-item-image-modal{{ image }}">
                                <img class="d-block rounded article-img-lg" src="{{ url_for('static', filename='item_images/' + image) }}" alt="{{ image }}">
                            </div>
                            {% include 'item/modals/show_item_image_modal.html' %}
                        {% endfor %}
                    </div>

                    {% if (item_images | length) > 1 %}
                        <a class="carousel-control-prev" href="#item-image-carousel" role="button" data-slide="prev">
                            <span class="material-icons" style="color: grey;">navigate_before</span>
                        </a>

                        <a class="carousel-control-next" href="#item-image-carousel" role="button" data-slide="next">
                            <span class="material-icons" style="color: grey;">navigate_next</span>
                        </a>
                    {% endif %}
                </div>

                <a class="btn btn-outline-secondary btn-sm mt-2" href="{{ url_for('item.edit_images', item_id=item.id) }}" role="button">
                    <span class="material-icons">photo_library</span>
                    {{ _('ui.item.edit_images')}}
                </a>
            </div>

            <div class="media-body">
                <div class="border-bottom d-flex justify-content-between" style="padding-bottom: 5px; border-bottom: 1px solid #e3e3e3">
                    <div>
                        <small class="text-muted">{{ _('ui.common.as_of') }}: {{ item.date_checked.strftime("%d. %B %Y, %H:%M") }}</small>
                    </div>

                    <div>
                        <a class="btn btn-secondary btn-sm" href="{{ url_for('item.edit', item_id=item.id) }}">
                            <span class="material-icons">edit</span>
                            {{ _('ui.common.edit') }}
                        </a>
                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delete-item-modal">
                            <span class="material-icons">delete</span>
                            {{ _('ui.common.delete') }}
                        </button>
                    </div>
                </div>

                <h2 class="article-title">{{ item.name }}</h2>
            </div>
        </div>

        <fieldset class="mb-4">
            <legend class="border-bottom mb-3">{{ _('ui.common.generel') }}</legend>

            <div class="d-flex justify-content-around">
                <div>
                    <b>{{ _('ui.common.count') }}:</b>
                    {% if item.has_count %}
                        <span class="border border-info rounded" style="padding-top: 1px; padding-bottom: 2px; padding-left: 3px; padding-right: 3px;">
                            {{ item.count }}
                        </span>
                    {% else %}
                        <span class="material-icons">block</span>
                    {% endif %}

                    <br><br>

                    <b>{{ _('ui.item.category') }}:</b>
                    {% if item.category %}
                        <span class="border border-info rounded" style="padding-top: 1px; padding-bottom: 2px; padding-left: 3px; padding-right: 3px;">
                            <a class="pfaksys-link" href="{{ url_for('user.modify_item_filters', categories=item.category.id) }}">{{ item.category.name }}</a>
                        </span>
                    {% else %}
                        <span class="material-icons">block</span>
                    {% endif %}
                </div>

                <div>
                    <b>{{ _('ui.common.condition') }}:</b> 
                    <span class="rounded" style="padding-top: 1px; padding-bottom: 2px; padding-left: 3px; padding-right: 3px; {{ item.condition.get_condition_color() }}">
                        <a class="pfaksys-link" href="{{ url_for('user.modify_item_filters', conditions=item.condition.name) }}">{{ _(item.condition.value) }}</a>
                    </span>

                    <br><br>

                    <b>{{ _('ui.item.location') }}:</b>
                    {% if item.location %}
                        <span class="border border-info rounded" style="padding-top: 1px; padding-bottom: 2px; padding-left: 3px; padding-right: 3px;">
                            <a class="pfaksys-link" href="{{ url_for('user.modify_item_filters', locations=item.location.id) }}">{{ item.location.name }}</a>
                        </span>
                    {% else %}
                        <span class="material-icons">block</span>
                    {% endif %}
                </div>
            </div>
        </fieldset>

        <fieldset class="mb-4">
            <legend class="border-bottom mb-3">{{ _('ui.common.description') }}</legend>

            {% if item.description %}
                <p style="white-space: pre-line;">{{ item.description }}</p>
            {% endif %}
        </fieldset>

        <fieldset class="mb-4">
            <legend class="border-bottom mb-3">{{ _('ui.common.comment') }}</legend>

            {% if item.comment %}
                <p style="white-space: pre-line;">{{ item.comment }}</p>
            {% endif %}
        </fieldset>
    </div>

    {% include "item/modals/delete_item_modal.html" %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(window).on('load', function(){
            $(".nav").find(".active").removeClass("active");
            $("#nav-material").addClass("active");
        });
    </script>
{% endblock %}