{% extends '_base.html' %}

{% block content %}
    <div class="content-section">
        <form action="" method="POST">
            {{ form.hidden_tag() }}

            <div class="media mb-5">
                <img class="rounded border border-secondary article-img-lg" src="{{ url_for('static', filename='item_images/' + item.image_file) }}">

                <div class="media-body">
                    <h2 class="article-title">
                        {% if form.name.errors %}
                            {{ form.name(class="form-control form-control-lg is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.name(class="form-control form-control-lg") }}
                        {% endif %}
                    </h2>
                </div>
            </div>

            <fieldset class="mb-4">
                <legend class="border-bottom mb-3">{{ _('ui.common.generel') }}</legend>

                <div class="row">
                    <div class="col">
                        <div class="form-group row">
                            <label for="count" class="col-sm-2">
                                <b>{{ _('ui.item.has_count') }}:</b>
                            </label>
        
                            <div class="col-sm-10">
                                <div class="form-check">
                                    {% if form.has_count.errors %}
                                        {{ form.has_count(class="form-check-input is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.has_count.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.has_count(class="form-check-input") }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group row">
                            <label for="count" class="col-sm-3 col-form-label">
                                <b>{{ _('ui.common.count') }}:</b>
                            </label>

                            <div class="col-sm-9">
                                {% if form.count.errors %}
                                    {{ form.count(class="form-control is-invalid", id="count")}}
                                    <div class="invalid-feedback">
                                        {% for error in form.count.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.count(class="form-control", id="count") }}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group row">
                            <label for="condition" class="col-sm-3 col-form-label">
                                <b>{{ _('ui.common.condition') }}:</b>
                            </label>

                            <div class="col-sm-9">
                                {% if form.condition.errors %}
                                    {{ form.condition(class="form-control is-invalid", id="condition")}}
                                    <div class="invalid-feedback">
                                        {% for error in form.condition.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.condition(class="form-control", id="condition") }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group row">
                            <label for="category" class="col-sm-3 col-form-label">
                                <b>{{ _('ui.item.category') }}:</b>
                            </label>

                            <div class="col-sm-9">
                                {% if form.category.errors %}
                                    {{ form.category(class="form-control is-invalid", id="category")}}
                                    <div class="invalid-feedback">
                                        {% for error in form.category.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.category(class="form-control", id="category") }}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group row">
                            <label for="location" class="col-sm-3 col-form-label">
                                <b>{{ _('ui.item.location') }}:</b>
                            </label>

                            <div class="col-sm-9">
                                {% if form.location.errors %}
                                    {{ form.location(class="form-control is-invalid", id="location")}}
                                    <div class="invalid-feedback">
                                        {% for error in form.location.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.location(class="form-control", id="location") }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="mb-4">
                <legend class="border-bottom mb-3">{{ _('ui.common.description') }}</legend>

                {% if form.description.errors %}
                    {{ form.description(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.description.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.description(class="form-control form-control-lg") }}
                {% endif %}
            </fieldset>

            <fieldset class="mb-4">
                <legend class="border-bottom mb-3">{{ _('ui.common.comment') }}</legend>

                {% if form.comment.errors %}
                    {{ form.comment(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.comment.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.comment(class="form-control form-control-lg") }}
                {% endif %}
            </fieldset>

            <div class="border-top form-group">
                {{ form.submit(class="btn btn-success mt-2") }}

                <a class="btn btn-secondary mt-2" href="{{ url_for('item.details', item_id=item.id) }}">
                    {{ _('ui.common.cancel') }}
                </a>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(window).on('load', function(){
            $(".nav").find(".active").removeClass("active");
            $("#nav-material").addClass("active");
        });
    </script>
{% endblock %}