{% extends '_base.html' %}

{% block content %}
    <div class="content-section">
        <form action="" method="post">
            {{ form.hidden_tag() }}

            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ _('page.item_new.title') }}</legend>

                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}

                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group row">
                    {{ form.has_count.label(class="col-sm-2") }}

                    <div class="col-sm-10">
                        <div class="form-check">
                            {% if form.has_count.errors %}
                                {{ form.has_count(class="form-check-input is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.has_count.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.has_count(class="form-check-input") }}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    {{ form.count.label(class="form-control-label") }}

                    {% if form.count.errors %}
                        {{ form.count(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.count.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.count(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.condition.label(class="form-control-label") }}

                    {% if form.condition.errors %}
                        {{ form.condition(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.condition.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.condition(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.category.label(class="form-control-label") }}

                    {% if form.category.errors %}
                        {{ form.category(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.category.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.category(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.location.label(class="form-control-label") }}

                    {% if form.location.errors %}
                        {{ form.location(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.location.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.location(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.description.label(class="form-control-label") }}

                    {% if form.description.errors %}
                        {{ form.description(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.description.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.description(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.comment.label(class="form-control-label") }}

                    {% if form.comment.errors %}
                        {{ form.comment(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.comment.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.comment(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-success") }}
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(window).on('load', function(){
            $(".nav").find(".active").removeClass("active");
            $("#nav-material").addClass("active");
        });
    </script>
{% endblock %}