{% extends '_base.html' %}

{% block content %}
    {% include 'item/menus/overview_search_bar.html' %}

    <h6 class="mt-2">
        {% if filter_conditions != [] %}
            {{ _('ui.common.condition') }}:

            {% for condition in conditions %}
                {% if condition.name in filter_conditions %}
                    <a class="badge badge-pill badge-warning" href="{{ url_for('user.modify_item_filters', name=filter_name, conditions=filter_conditions[: filter_conditions.index(condition.name)] + filter_conditions[filter_conditions.index(condition.name)+1 :], categories=filter_categories, locations=filter_locations) }}">
                        {{ condition.value }}
                    </a>
                {% endif %}
            {% endfor %}
        {% endif %}
    </h6>
    <h6>
        {% if filter_categories != [] %}
            {{ _('ui.item.category') }}:

            {% for category in categories %}
                {% if category.id in filter_categories %}
                    <a class="badge badge-pill badge-warning" href="{{ url_for('user.modify_item_filters', name=filter_name, conditions=filter_conditions, categories=filter_categories[: filter_categories.index(category.id)] + filter_categories[filter_categories.index(category.id)+1 :], locations=filter_locations) }}">
                        {{ category.name }}
                    </a>
                {% endif %}
            {% endfor %}
        {% endif %}
    </h6>
    <h6 class="mb-4">
        {% if filter_locations != [] %}
            {{ _('ui.item.location') }}:

            {% for location in locations %}
                {% if location.id in filter_locations %}
                    <a class="badge badge-pill badge-warning" href="{{ url_for('user.modify_item_filters', name=filter_name, conditions=filter_conditions, categories=filter_categories, locations=filter_locations[: filter_locations.index(location.id)] + filter_locations[filter_locations.index(location.id)+1 :]) }}">
                        {{ location.name }}
                    </a>
                {% endif %}
            {% endfor %}
        {% endif %}
    </h6>

    <h4 class="mb-2">{{ _('page.overview.title') }}: {{ pagination.total }}</h3>

    {% for item in pagination.items %}
        <article class="media content-section">
            {% set image = item.image_files.split(';')[0] %}
            
            <img class="rounded article-img" src="{{ url_for('static', filename='item_images/' + item.image_files.split(';')[0]) }}" data-toggle="modal" data-target="#show-item-image-modal{{ image }}">
            {% include 'item/modals/show_item_image_modal.html' %}

            <div class="media-body">
                <h2><a class="article-title" href="{{ url_for('item.details', item_id=item.id) }}">{{ item.name }}</a></h2>
                <div class="row mt-3">
                    <div class="col">
                        <b>{{ _('ui.common.count') }}:</b> 
                        {% if item.has_count %}
                            <span class="border border-info rounded" style="padding-top: 1px; padding-bottom: 2px; padding-left: 3px; padding-right: 3px;">
                                    {{ item.count }}
                            </span>
                        {% else %}
                            <span class="material-icons">help_outline</span>
                        {% endif %}
                    </div>
                    <div class="col">
                        <b>{{ _('ui.common.condition') }}:</b> 
                        <span class="rounded" style="padding-top: 1px; padding-bottom: 2px; padding-left: 3px; padding-right: 3px; {{ item.condition.get_condition_color() }}">
                            {{ _(item.condition.value) }}
                        </span>
                    </div>
                </div>
            </div>
        </article>
    {% endfor %}

    {% if pagination.pages > 0 %}
        <div class="btn-group d-flex justify-content-center">
            {% if pagination.page > 1 %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('item.overview', page=pagination.page-1) }}">&laquo;</a>
            {% else %}
                <a class="btn btn-outline-info disabled mb-4" href="{{ url_for('item.overview', page=pagination.page-1) }}">&laquo;</a>
            {% endif %}

            {% for page in pagination.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page %}
                    {% if pagination.page == page %}
                        <a class="btn btn-info mb-4" href="{{ url_for('item.overview', page=page) }}">{{ page }}</a>
                    {% else %}
                        <a class="btn btn-outline-info mb-4" href="{{ url_for('item.overview', page=page) }}">{{ page }}</a>
                    {% endif %}
                {% else %}
                <a class="btn btn-outline-info disabled mb-4" href="#">...</a>
                {% endif %}
            {% endfor %}
            
            {% if pagination.page < pagination.pages %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('item.overview', page=pagination.page+1) }}">&raquo;</a>
            {% else %}
                <a class="btn btn-outline-info disabled mb-4" href="{{ url_for('item.overview', page=pagination.page+1) }}">&raquo;</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block sidebar %}
    <form class="btn-block" action="{{ url_for('item.new') }}" method='GET'>
        <button class="btn btn-primary btn-block" type="submit" {% if not current_user.has_permission('manage_material') %}disabled{% endif %}>
            <span class="material-icons">add_box</span>
            {{ _('ui.item.new') }}
        </button>
    </form>

    <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#new-item-category-modal" {% if not current_user.has_permission('manage_categories') %}disabled{% endif %}>
        <span class="material-icons">sell</span>
        {{ _('ui.item.new_category') }}
    </button>

    <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#new-item-location-modal" {% if not current_user.has_permission('manage_locations') %}disabled{% endif %}>
        <span class="material-icons">place</span>
        {{ _('ui.item.new_location') }}
    </button>
{% endblock %}

{% block modals %}
    {% include 'item/modals/new_category_modal.html' %}
    {% include 'item/modals/new_location_modal.html' %}
{% endblock %}

{% block scripts %}
    <!-- Filter Dropdown Script -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('.dropright button').on("click", function(e) {
                e.stopPropagation();
                e.preventDefault();

                if (!$(this).next('div').hasClass('show')) {
                    $("#condition-dropright").removeClass('show');
                    $("#category-dropright").removeClass('show');
                    $("#location-dropright").removeClass('show');

                    $(this).next('div').addClass('show');
                }
                else {
                    $(this).next('div').removeClass('show');
                }
            });
        });
    </script>

    <!-- Modal Scripts -->
    {% if new_category_form.category_name.errors %}
        <script type="text/javascript">
            $(window).on('load', function() {
                $("#new-item-category-modal").modal("show")
            });
        </script>
    {% endif %}

    {% if new_location_form.location_name.errors %}
        <script type="text/javascript">
            $(window).on('load', function() {
                $("#new-item-location-modal").modal("show")
            });
        </script>
    {% endif %}

    <script type="text/javascript">
        $(window).on('load', function(){
            $(".nav").find(".active").removeClass("active");
            $("#nav-material").addClass("active");
        });
    </script>
{% endblock %}