{% extends '_base.html' %}

{% block content %}
    {% for item in pagination.items %}
        <article class="media content-section">
            <img class="rounded article-img" src="{{ url_for('static', filename='item/images/' + item.image_file) }}">

            <div class="media-body">
                <!-- <div class="article-metadata">
                    <a class="mr-2" href="#">{{ item.name }}</a>
                </div> -->
                <h2><a class="article-title" href="#">{{ item.name }}</a></h2>
                <p class="article-content"><b>{{ _('ui.common.count') }}:</b> {{ item.count }}
                    <b>{{ _('ui.common.condition') }}:</b> <span class="rounded" style="padding: 3px; {{ item.condition.get_condition_color() }}">{{ _(item.condition.value) }}</span>
                </p>
            </div>
        </article>
    {% endfor %}
    {% for page in pagination.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page %}
            {% if pagination.page == page %}
                <a class="btn btn-info mb-4" href="{{ url_for('item.overview', page=page) }}">{{ page }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('item.overview', page=page) }}">{{ page }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock %}

{% block sidebar %}
    <form action="{{ url_for('item.new') }}" method='GET'>
        <button class="btn btn-primary" type="submit">
            <img class="mr-2" src="{{ url_for('static', filename='item/ui/new.png') }}">
            {{ _('ui.item.new') }}
        </button>
    </form>
{% endblock %}