{% extends '_base.html' %}

{% block content %}
    <h1 class="mb-3">{{ _('page.system_settings.title') }}</h1>

    <div class="content-section">
        <!-- Tab Navigation -->
        <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
                <a class="nav-link active pfaksys-link" data-toggle="tab" href="#tab-mail">
                    {{ _('page.system_settings.mail') }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link pfaksys-link" data-toggle="tab" href="#tab-database">
                    {{ _('page.system_settings.database') }}
                </a>
            </li>
        </ul>

        <!-- Tab Contents -->
        <div class="tab-content">
            <!-- Mail Settings -->
            <form class="tab-pane active" id="tab-mail" action="" method="POST">
                {{ mail_form.hidden_tag() }}

                <div class="form-group">
                    {{ mail_form.server.label(class="form-control-label") }}

                    {% if mail_form.server.errors %}
                        {{ mail_form.server(class="form-control is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in mail_form.server.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ mail_form.server(class="form-control") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ mail_form.port.label(class="form-control-label") }}

                    {% if mail_form.port.errors %}
                        {{ mail_form.port(class="form-control is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in mail_form.port.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ mail_form.port(class="form-control") }}
                    {% endif %}
                </div>

                <div class="form-group row">
                    {{ mail_form.use_tls.label(class="col-sm-3") }}

                    <div class="col-sm-9">
                        <div class="form-check">
                            {% if mail_form.use_tls.errors %}
                                {{ mail_form.use_tls(class="form-check-input is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in mail_form.use_tls.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ mail_form.use_tls(class="form-check-input") }}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    {{ mail_form.sender.label(class="form-control-label") }}
                    
                    <a tabindex="0" class="pfaksys-link" data-toggle="popover" data-trigger="hover" data-html=true title="{{ _('ui.common.help') }}" data-content="{{ _('page.system_settings.mail_sender_help') }}">
                        <span class="material-icons">help_outline</span>
                    </a>

                    {% if mail_form.sender.errors %}
                        {{ mail_form.sender(class="form-control is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in mail_form.sender.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ mail_form.sender(class="form-control") }}
                    {% endif %}
                </div>

                <div class="alert alert-warning" role="alert">
                    {{ _('page.system_settings.mail_credentials_info') }}
                </div>

                <div class="border-top form-group mt-4">
                    {{ mail_form.submit(class="btn btn-success mt-2") }}
                </div>
            </form>


            <!-- Database Settings -->
            <form class="tab-pane" id="tab-database" action="" method="POST">
                {{ database_form.hidden_tag() }}

                <div class="form-group">
                    {{ database_form.database_backup_quantity.label(class="form-control-label") }}

                    <a tabindex="0" class="pfaksys-link" data-toggle="popover" data-trigger="hover" data-html=true title="{{ _('ui.common.help') }}" data-content="{{ _('page.system_settings.database_backup_quantity_help') }}">
                        <span class="material-icons">help_outline</span>
                    </a>

                    {% if database_form.database_backup_quantity.errors %}
                        {{ database_form.database_backup_quantity(class="form-control is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in database_form.database_backup_quantity.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ database_form.database_backup_quantity(class="form-control") }}
                    {% endif %}
                </div>

                <div class="border-top form-group mt-4">
                    {{ database_form.submit(class="btn btn-success mt-2") }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}