{% extends '_base.html' %}

{% block content %}
    <div class="content-section">
        <form action="" method="POST">
            {{ form.hidden_tag() }}

            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ _('ui.common.general') }}</legend>

                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}

                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>

            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ _('ui.common.permissions') }}</legend>

                <div class="form-group row ml-2" style="margin-bottom: -5px;">
                    <div class="col-sm-1">
                        <div class="form-check">
                            {% if form.manage_material_permission.errors %}
                                {{ form.manage_material_permission(class="form-check-input is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.manage_material_permission.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.manage_material_permission(class="form-check-input") }}
                            {% endif %}
                        </div>
                    </div>
                    
                    {{ form.manage_material_permission.label(class="col-sm-11") }}
                </div>

                <div class="form-group row ml-2" style="margin-bottom: -5px;">
                    <div class="col-sm-1">
                        <div class="form-check">
                            {% if form.manage_categories_permission.errors %}
                                {{ form.manage_categories_permission(class="form-check-input is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.manage_categories_permission.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.manage_categories_permission(class="form-check-input") }}
                            {% endif %}
                        </div>
                    </div>
                    
                    {{ form.manage_categories_permission.label(class="col-sm-11") }}
                </div>

                <div class="form-group row ml-2" style="margin-bottom: -5px;">
                    <div class="col-sm-1">
                        <div class="form-check">
                            {% if form.manage_locations_permission.errors %}
                                {{ form.manage_locations_permission(class="form-check-input is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.manage_locations_permission.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.manage_locations_permission(class="form-check-input") }}
                            {% endif %}
                        </div>
                    </div>
                    
                    {{ form.manage_locations_permission.label(class="col-sm-11") }}
                </div>
            </fieldset>

            <div class="border-top form-group mt-4">
                {{ form.submit(class="btn btn-success mt-2") }}

                <a class="btn btn-secondary mt-2" href="{{ url_for('admin.user_management') }}">
                    {{ _('ui.common.cancel') }}
                </a>
            </div>
        </form>
    </div>
{% endblock %}